<section class="card bg-base-200 p-4 mb-4">
<table class="table w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each station.readings}}
          <tr>
            <td>
              {{date}}
            </td>
            <td>
              {{code}}
            </td>
            <td>
              {{temperature}}
            </td>
            <td>
              {{windSpeed}}
            </td>
            <td>
              {{windDirection}}
            </td>
            <td>
              {{pressure}}
            </td>
            <td>
              <a href="/station/{{../station.id}}/deletereading/{{id}}"><button class="btn btn-error">Delete</button></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <br>
    <form action="/station/{{station.id}}/generatereading" method="POST">
      <button class="btn btn-primary submit">Generate Reading</button>
    </form>
  </div>
  </div>
</form>
    </section>