{{> menu}}

  <section class="card bg-base-200 p-4 mb-4">
    <h2 class="text-xl">
      {{station.name}}
    </h2>
    <div class="flex flex-wrap container">
    
    <div class="card flex-1 bg-base-300 p-4 h-auto m-2">
      <span class="text-lg">{{station.name}}</span>
    </div>
    <div class="card flex-1 bg-base-300 p-4 h-auto m-2">
      <span class="text-lg">Weather</span>
      {{#each station.readings}}{{#if @last}}{{{weatherCodeString}}}{{/if}}{{/each}}
    </div>
    <div class="card flex-1 bg-base-300 p-4 h-auto m-2">
      <span class="text-lg">Temperature</span>
      {{#each station.readings}}{{#if @last}}{{temperature}}°C / {{tempInF}}°F<br>
      Feels Like: {{feelsLike}}°C{{/if}}{{/each}}
    </div>
    <div class="card flex-1 bg-base-300 p-4 h-auto m-2">
      <span class="text-lg">Wind</span>
      {{#each station.readings}}{{#if @last}}
      Direction: {{windDirection}}<br>{{windSpeedInBft}}{{/if}}{{/each}}
    </div>
    <div class="card flex-1 bg-base-300 p-4 h-auto m-2">
      <span class="text-lg">Pressure</span>
      {{#each station.readings}}{{#if @last}}{{pressure}}{{/if}}{{/each}} hpa
    </div>
    </div>
  </section>


{{> listreadings}}

  <section class="card bg-base-200 p-4 mb-4">
    <h2 class="text text-xl">Add Reading</h2>
    {{> addreading}}
  </section>